body {
    overflow: hidden;
}

#canvas1 {
    position: absolute;
    border: 2px solid rgb(4, 0, 246);
    background: rgb(23, 16, 16);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}